<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.membership.entity.couponusage.mybatis.CouponUsageMapper">
    <resultMap id="usageResultMap" type="org.example.membership.entity.CouponUsage">
        <id property="id" column="id"/>

        <result property="usedAt" column="used_at"/>

        <association property="user" javaType="org.example.membership.entity.User">
            <id property="id" column="user_id"/>
        </association>

        <association property="coupon" javaType="org.example.membership.entity.Coupon">
            <id property="id" column="coupon_id"/>
        </association>

        <association property="order" javaType="org.example.membership.entity.Order">
            <id property="id" column="order_id"/>
        </association>
    </resultMap>

    <select id="findAll" resultMap="usageResultMap">
        SELECT * FROM coupon_usage
    </select>

    <select id="findById" resultMap="usageResultMap">
        SELECT * FROM coupon_usage WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="org.example.membership.entity.CouponUsage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO coupon_usage (user_id, coupon_id, order_id, used_at)
        VALUES (#{user.id}, #{coupon.id}, #{order.id}, #{usedAt})
    </insert>

    <delete id="deleteById">
        DELETE FROM coupon_usage WHERE id = #{id}
    </delete>
</mapper>