<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.membership.repository.mybatis.MembershipLogMapper">

    <insert id="insert" parameterType="org.example.membership.entity.log.MembershipLog">
        INSERT INTO membership_log (
            user_id,
            previous_level,
            new_level,
            change_reason,
            changed_at
        ) VALUES (
                     #{user.id},
                     #{previousLevel},
                     #{newLevel},
                     #{changeReason},
                     #{changedAt}
                 )
    </insert>



    <!-- DTO 기반 batch insert (foreach 방식) -->
    <insert id="bulkInsertRequests" parameterType="java.util.List">
        INSERT INTO membership_log (
        user_id,
        previous_level,
        new_level,
        change_reason,
        changed_at
        )
        VALUES
        <foreach collection="list" item="log" separator=",">
            (
            #{log.userId},
            #{log.previousLevel},
            #{log.newLevel},
            #{log.changeReason},
            #{log.changedAt}
            )
        </foreach>
    </insert>

    <!-- DTO 기반 단건 insert (ExecutorType.BATCH용) -->
    <insert id="insertOneRequest" parameterType="org.example.membership.dto.MembershipLogRequest">
        INSERT INTO membership_log (
            user_id,
            previous_level,
            new_level,
            change_reason,
            changed_at
        ) VALUES (
                     #{userId},
                     #{previousLevel},
                     #{newLevel},
                     #{changeReason},
                     #{changedAt}
                 )
    </insert>



</mapper>